.page-body {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}


.page {
  height: 100%;
}

.connection__title {
  display: none;
}





