.benefits {
  text-align: center;
}

.benefits__wrapper {
  display: flex;
}

.benefits__image-container {
  display: flex;
}

.benefits__title {
  font-size: 21px;
  line-height: 21px;
  margin: 0;
  padding: 0 60px;
}

.benefits__text {
  line-height: 21px;
  font-size: 14px;
  margin-top: 25px;
  white-space: pre-wrap;
}

.benefits__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 60px;
}

.benefits__info {
  color: #FFFFFF;
  background-color: #81B3D2;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 40px;
  padding-left: 40px;
  box-sizing: border-box;

}

.benefits__list--theme--gray {
  background-color: #EEEEEE;
}
