.hero {
  background-image: url("../../images/background-photo.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 510px;
  margin: 0 auto;
}


