.page-header {
  display: flex;
  justify-content: space-between;
  font-family: "PT sans" sans-serif;
  font-size: 14px;
  color: #000000;
  margin-bottom: 70px;
  outline: 5px solid rgba(0,255,0, 0.3);
  outline-offset: -5px;
}



