.welcome {
  padding: 40px 340px;
}

.welcome__title {
  font-size: 21px;
  font-weight: bold;
  line-height: 26px;
  white-space: pre-wrap;
  margin: 0 auto;
}

.welcome__text {
  line-height: 26px;
  padding-top: 45px;
  margin: 0;
}
